<div class="col-md-12">Nome:</div>
<div class="col-md-12">
    <input class="form-input col-md-6" type="text" [(ngModel)]="produto.nome">
</div>
<div class="col-md-12">Descrição:</div>
<div class="col-md-12">
    <input class="form-input col-md-6" type="text" [(ngModel)]="produto.descricao">
</div>

<div class="col-md-12">Complemento:</div>
<div class="col-md-12">
    <input class="form-input col-md-6" type="text" [(ngModel)]="produto.complemento">
</div>

<div class="col-md-12">Valor:</div>
<div class="col-md-12">
    <input class="form-input col-md-6" type="number" [(ngModel)]="produto.valor">
</div>

<div class="col-md-12">Unidade de Medida:</div>
<div class="col-md-12">
    <select class="form-input col-md-6" [(ngModel)]="produto.unidadeMedida">
        <option class="form-input col-md-6" value="UN">
            Unidade
        </option>
        <option class="form-input col-md-6" value="MT">
            Metro
        </option>
        <option class="form-input col-md-6" value="MT2">
            Metro Quadrado
        </option>
        <option class="form-input col-md-6" value="MT3">
            Metro Cúbico
        </option>
    </select>
</div>
<div class="col-md-12">Quantidade:</div>
<div class="col-md-12">
    <input class="form-input col-md-6" type="number" [(ngModel)]="produto.qtde">
</div>

<div class="col-md-12">Fabricante:</div>
<div class="col-md-12">
    <input class="form-input col-md-6" type="text" [(ngModel)]="produto.fabricante">
</div>

<div class="col-md-12">Fornecedor:</div>
<div class="col-md-12">
    <input class="form-input col-md-6" type="text" [(ngModel)]="produto.fornecedor">
</div>

<div class="col-md-12">Categoria:</div>
<div class="col-md-12">
    <select class="form-input col-md-6" [(ngModel)]="produto.categoria">
        <option class="form-input col-md-6" *ngFor="let categoria of categorias" value={{categoria.id}}>
            {{categoria.descricao}}</option>
    </select>
</div>
<div class="col-md-12"></div>
<div class="col-md-12">
    <button class="btn btn-success">
        Salvar
    </button>
</div>
