<div class="col-md-12">
    <button (click)="cadastrarNovaCategoria()" 
    class="btn btn-success">Cadastrar Nova Categoria</button>
</div>
<div class="col-md-12" *ngFor="let categoria of categorias.conteudo">
    <div class="col-md-3">
        {{categoria.id}}
    </div>
    <div class="col-md-6">
        {{categoria.descricao}}
    </div>
    <div class="col-md-3">
        <button (click)="visualizar(categoria)">Visualizar</button>
        <button (click)="atualizar(categoria)">Atualizar</button>
    </div>
</div>

